<html>

<body>
    <div id="root">
        <ul>
            <li v-for="name in names" v-text="name">
            </li>
        </ul>
        <input id="input" type="text" v-model="newName">
        <button @click="addName">Add name</button>

        <button title="I am the title of the button"></button>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        var app = new Vue({
            el: '#root',
            data: {
                newName: '',
                names: ['joe', 'mary', 'jane', 'jack']
            },
            methods: {
                addName() {
                    this.names.push(this.newName);
                    this.newName = '';
                }
            }
        })
    </script>
</body>

</html>